.wp-block-mxsfwn-image-section {
	display: block;
	margin: auto;

	p {
		font-size: inherit;
		color: inherit;
		font-weight: inherit;
		font-style: inherit;
		text-decoration: inherit;
		text-transform: inherit;
		text-align: inherit;
		line-height: inherit;
	}
}