body .wp-block-mxsfwn-content-slider {
    position: relative;
    .owl-nav {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        display: flex;
        justify-content: space-between;
        button {
            width: var(--wp--preset--spacing--large);
            height: var(--wp--preset--spacing--large);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
            &.owl-prev, 
            &.owl-next {
                background-color: var(--wp--preset--color--main);
                color: var(--wp--preset--color--light);
            }
            span {
                font-size: var(--wp--preset--font-size--medium);
            }
        }
    }
    .owl-dots {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: calc(var(--wp--preset--spacing--medium)*-1);
        display: flex;
        justify-content: center;
        gap: var(--wp--preset--spacing--mini);
        button {
            border: 2px solid var(--wp--preset--color--main);
            width: var(--wp--preset--spacing--mini);
            height: var(--wp--preset--spacing--mini);
            border-radius: 50%;
            &.active {
                background-color: var(--wp--preset--color--main);
            }
        }
    }
}
